#APP
NODE_ENV=dev
PORT=
HOST="0.0.0.0"
LOG_WRITE_TO_FILE=false
LOG_RULES=
#"context=database;level=debug/context=api;level=warn"


#DATABASE
PG_DATABASE_HOST="localhost"
PG_DATABASE_PORT=5432
PG_DATABASE_USERNAME=docker
PG_DATABASE_PASSWORD=docker
PG_DATABASE_NAME=push_notification_psql

#REDIS
REDIS_PORT=6379
REDIS_PASSWORD=docker
